<link href="./bootstrap.min.css" rel="stylesheet">
<!-- PyUDS - Test Report -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Test case</th>
        <th scope="col">Step</th>
        <th scope="col">Status</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <tbody>
	  <tr>
	    <td>2018-12-04__16-01-38</td>
	    <td>RID_03BC</td>
	    <td>Transition to Extended Diagnostic Session Application Mode </td>
	    <th scope="row"><button type="button" class="btn btn-success">PASSED</button></th>
	    <td></td>
	  </tr>
	  <tr>
	    <td>2018-12-04__16-01-38</td>
	    <td>RID_03BC</td>
	    <td>Start Routine Ethernet Cable Diagnostic Test</td>
	    <th scope="row"><button type="button" class="btn btn-danger">FAILED</button></th>
	    <td>NRC 0x31 when expecting Positive response</td>
	  </tr>
    </tbody>
  </table>